<div class="page-width">
    <div class="grid">
        <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
            <div class="section-header text-center">
                <!-- <h1>{{ page.title }} -->
                    If you are purchasing a custom image please select from the images below and add the image id to your order</h1>
            </div>

            <div class="Img-selector">
                <p class="paragraph-about"></p>
                <a href="https://www.hydroflask.com/" target="_blank">Hydro Flask</a>
            </div>
        </div>
    </div>
</div>
